@font-face {
    font-family: Denne Etude;
    src: url(DenneEtude.ttf);
}

@font-face {
    font-family: Merge One;
    src: url(MergeOne-Regular.ttf);
}

body {
    font-family: Merge One, Arial, Helvetica, sans-serif;
    background-color: #FEF5E9;
}

h1, h2, h3 {
    font-family: Denne Etude, Arial, Helvetica, sans-serif;
    color: #16AC9C;
    display: inline-block;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-top: 3em;
    text-align: center;
    width: 100%;
}

h3 {
    display: inline;
}

nav {
    background-color: #FEF5E9;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    text-align: right;
}

nav div a {
    font-family: Denne Etude, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.2em 1em 0.2em 1em;
    color: #40BCCF;
}

nav a img {
    width: 5em;
    float: left;
    margin-left: 2em;
}

nav div a:last-of-type {
    margin-right: 20%;
}

.mobilenav {
    display: none;
}

img {
    width: 20em;
}

.intro {
    margin-top: 8em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.intro div a, .info a, button {
    text-decoration: none;
    border: 3px solid #16AC9C;
    border-radius: 10px;
    padding: 0.2em 2em 0.2em 2em;
    font-family: Denne Etude, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #16AC9C;
    display: inline-block;
    margin-top: 0.5em;
}

.intro div a:last-of-type:hover, .info a:last-of-type:hover {
    background-color: #16AC9C;
    color: #FEF5E9;
}

.intro div a:first-of-type, button, .info a:first-of-type {
    background-color: #16AC9C;
    color: #FEF5E9;
    padding: 0.2em 1em 0.2em 1em;
}

.intro div a:first-of-type:hover, .info a:first-of-type:hover {
    background-color: #FEF5E9;
    color: #16AC9C;
}

.intro div {
    margin: 2em;
    width: 40%;
}

.intro div:first-of-type {
    float: left;
}

.intro div:last-of-type {
    float: right;
}

.hoewerkthet {
    margin: 0 auto;
    width: 80%;
}

.hoewerkthet div {
    width: 20%;
    display: inline-block;
    margin: 2em;
}

.hoewerkthet div img {
    width: 80%;
    max-width: 10em;
}

.hoewerkthet div h3 {
    font-size: 10em;
    text-align: center;
}

.wiezijnwij {
    margin: auto;
    margin-bottom: 4em;
    width: 50%;
}

.wiezijnwij span {
    color: #16AC9C;
}

.nieuwsbrief {
    background-color: #FCD424;
}

.nieuwsbrief h2, .nieuwsbrief p {
    color: #FEF5E9;
    margin-top: 0.5em;
    text-align: left;
}

.nieuwsbrief div {
    margin: auto;
    width: max-content;
}

.nieuwsbrief p {
    margin-top: -1.5em;
}

.nieuwsbrief div form input {
    border: none;
    border-radius: 10px;
    padding: 0.5em;
}

.nieuwsbrief div form div {
    display: inline-block;
    padding-bottom: 1em;
}

.nieuwsbrief div form .button {
    border: none;
    border-radius: 10px;
    padding: 0.5em 2em 0.5em 2em;
    background-color: #16AC9C;
    color: #FEF5E9;
}

.opened {
    display: none;
}

.info div {
    display: block;
    margin: 1em auto 0 auto;
    width: max-content;    
}

.info img {
  display: block;
  margin: 4em auto 0 auto;
  width: 30em;
}

footer {
    background-color: #40BCCF;
    margin-top: 5em;
    padding: 1em;
    color: #FEF5E9;
}

footer div p:last-of-type {
    text-align: center;
    margin: 1em auto 0 auto;
    width: 100%;
}

footer h3 {
    font-size: 1.4em;
    color: #FEF5E9;
}

footer p a {
    color: #FEF5E9;
}

footer div {
    width: 50%;
    display: block;
    margin: 0 auto 0 auto;  
    text-align: center; 
}

/*scholen.php*/

.gebruik {
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;  
}

.gebruik h2 {
    text-align: left;
}

.gebruik div {
    width: 60%;
}

.firstimg {
    float: right;
    margin-right: 4em;
    width: 30%;
    margin-top: -10em;
}

.secondimg {
    width: 30%;
    display: block;
    margin: 6em auto 0 auto;  
}

.waarom {
    float: right;
    margin-right: 4em;
    width: 40%;
    margin-top: -18em;
}

.proefversie {
    width: 60%;
    display: block;
    margin: 0 auto 0 auto;  
}

.proefversie form {
    width: 60%;
    display: block;
    margin: 0 auto 0 auto;  
}

.proefversie input, .proefversie textarea {
    border: none;
    border-radius: 10px;
    padding: 0.5em;
}

.proefversie form div {
    display: inline-block;
    margin-top: 2em;
}

.proefversie form .phone {
    display: block;
}

.proefversie form .checkbox p {
    font-size: 0.7em;
}

.proefversie form .extra textarea {
    display: block;
    margin-top: 1em;
}

button {
    padding-right: 2em;
    padding-left: 2em;
    display: block;
    margin: 2em auto 0 auto;
    cursor: pointer;
}


@media (max-width:750px) {
    .intro div:first-of-type, .intro div:last-of-type {
        float: none;
        display: block;
        width: 80%;
        margin: auto;
    }

    .intro div img {
        margin-top: 3em;
        width: 100%;
    }

    .hoewerkthet div {
        width: 80%;
        display: block;
        margin: 2em 2em -1em 2em;
    }

    .hoewerkthet img {
        float: right;
    }

    .hoewerkthet div:nth-child(3) img {
        margin-top: 3em;
    }

    .hoewerkthet p {
        clear: right;
        display: inline-block;
    }

    .wiezijnwij {
        width: 80%;
    }

    .nieuwsbrief div {
        width: 80%;
    }

    .nieuwsbrief #mc_embed_signup {
        width: 100%;
    }

    .nieuwsbrief #mc_embed_signup:nth-child(3) {
        margin-top: 3em;
    }

    .fullnav {
        display: none;
    }

    .mobilenav {
        display: block;
    }

    .closed div {
        float: right;
        clear: right;
        background-color: #40BCCF;
        width: 30px;
        height: 4px;
        border-radius: 10px;
        margin: 5px 3em 0 0;
        cursor: pointer;
    }

    .opened {
        display: none;
        background-color: #fef5e9;
        width: 100vw;
        margin-top: -1em;
        margin-left: -1em;
        height: 200vw;
    }

    .opened a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        margin-top: 1em;
        font-size: 3em;
    }

    .opened a:first-of-type {
        margin: 20% 0 1em 0;
    }
    
    .info img {
        width: 60%;
    }

    .info div a {
        display: block;
        margin: 1em auto 0 auto;
        width: max-content;
    }

    /*scholen.php*/

    .gebruik div {
        width: 100%;
    }
    
    .firstimg {
        margin-top: 2em;
    }
    
    .waarom {
        float: none;
        display: block;
        margin: auto;
        width: 80%;
        margin-top: 0;
    }

    .proefversie {
        width: 80%;
    }

    .proefversie form{
        width: 100%;
    }

    .proefversie form div input {
        margin-top: 1em;
    }
}